# Always write stdout immediately. Very helpful for debugging
export PYTHONUNBUFFERED=1

# make sure we don't have any conflicting PYTHONPATH
unset PYTHONPATH

# don't check pypi for a potential new pip version; low-hanging fruit to save a bit of time
export PIP_DISABLE_PIP_VERSION_CHECK=on


ROOT="$(
    pwd -P
)"

if [ -f "$ROOT/.env" ]; then
    echo "Loading variables from .env"
    dotenv "$ROOT/.env"
fi

deactivate 2>/dev/null || true
venv_name=".venv"
source "${venv_name}/bin/activate"

unset PS1
